Click
Jinja2
livereload
Markdown
MarkupSafe
mkdocs
pymdown-extensions
mkdocs-material
mkdocs-awesome-pages-plugin
mkdocs-minify-plugin
mkdocs-glightbox
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
PyYAML
six
tornado
pillow
cairosvg
